@import '../../../../Styles/Mixins';

.drops {
  padding: 5rem 0;
  background-color: $color-neutral-50;

  &__container {
    @include container;
  }

  @include lg  { padding: 4rem 0; }
  @include md  { padding: 3rem 0; }
  @include sm  { padding: 2.5rem 0; }
}
